.filters {
  background-color: cadetblue;
  flex: 1;
  overflow-y: scroll;
  scroll-behavior: smooth;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-left: 10px;
  padding-right: 20px;
}

.filters h2 {
  font-size: 30px;
  padding-left: 10px;
  margin-bottom: 0;
}

.filter {
  display: flex;
  flex-direction: column;
  align-items: start;
  padding-left: 20px;
}

.filter legend {
  font-size: 30px;
}

.filter label {
  display: flex;
  gap: 20px;
  font-size: 25px;
}