.job-search h2 {
  font-size: 35px;
}

.job-search {
  flex: 4;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding-left: 10px;
  padding-right: 10px;
  border-top: 1px black solid;
}

.job-board {
  background-color: #A5846A;
  border: 4mm ridge black;
  flex: 1;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  overflow-y: scroll;
  scroll-behavior: smooth;
  max-height: 700px;
  margin-left: 20px;
  margin-right: 20px;
}

.job {
  margin: 10px;
  width: 45%;
  height: 400px;
  display: flex;
  flex-direction: column;
  text-wrap: wrap;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 30px;
  font-size: 20px;
  color: black;
  position: relative;
  box-shadow: 3px 3px 10px black;
  word-break: break-word;
}

.job:nth-child(6n+1) {
  background-color: pink;
}

.job:nth-child(6n+2) {
  background-color: lightcoral;
}

.job:nth-child(6n+3) {
  background-color: lightgreen;
}

.job:nth-child(6n+4) {
  background-color: lightblue;
}

.job:nth-child(6n+5) {
  background-color: lightskyblue;
}

.job:nth-child(6n) {
  background-color: aliceblue;
}

.pin {
  height: 10px;
  width: 10px;
  border-radius: 20px;
  border: 1px solid black;
  position: absolute;
  right: 50%;
  top: 10px;
  box-shadow: 0px 0px 5px black, inset 0em 0 0.2em olive;
}

.job:visited {
  color: black;
}

.job p {
  margin: 0;
}

.job-title {
  font-size: 30px;
  font-weight: 800;
}

.job-recruiter {
  font-size: 20px;
}

.job-description {
  padding-top: 20px;
  line-height: 1.25;
}

.requirements {
  list-style-type: none;
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  align-items: start;
  padding: 0;
}

.requirements li {
  border: 1px solid black;
  padding: 5px;
  border-radius: 20px;
}