.resume-upload {
  background-color: lightcoral;
  flex: 1;
  padding: 10px;
  display: flex;
  flex-direction: column;
  font-size: 25px;
  gap: 20px;
}

.resume-upload h2 {
  background-color: lightblue;
  margin: 0;
  border: 1px solid black;
  text-align: center;
}

.resume-upload img {
  width: 75%;
  align-self: center;
}

.resume-upload-button {
  margin-top: auto;
  align-self: center;
  width: 150px;
  height: 30px;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}